.App {
  text-align: center;
  background-color: #f8f8f8;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row
}

.SideBar {
    background-color: #F2C94C;
    margin: 3vh;
    padding: 2vh;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    min-width: 50px;
}

.icon {
    margin: 1vw
}

.listOfDates {
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #696969;
}

.date {
    margin-top: 1vw;
    margin-bottom: 1vw
}

.face-icon {
    min-width: 40px;
}

.add-icon {
    min-width: 25px
}

.messagingPane {
    width: 75vw
}

.titlePane {
    margin: 3vh;
    padding: 3vh;
    background-color:#e0e0e3;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 50vw;
}


